@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

*{
  box-sizing: border-box;
}

body {
  background: #223;
  color: white;
}

.App {
  width: 1700px;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 30px;
  font-family: 'Poppins', sans-serif;
}

.section {
  border: 1px solid lightgray;
  border-radius: 1rem;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  margin-bottom: 1rem;
  overflow: hidden;
}

.section h2 {
  margin: 0;
  border-bottom: 1px solid currentColor;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}
